.App {
   text-align: center;   
}

.nav{
   background-color: #385170; ;
   padding-top: 1em;
   padding-bottom: 2em;
   display: flex;
   flex-direction: row;
   /*justify-content: end;*/
   margin-bottom: 1em;
}